@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

:root {
  --primary-color: #69503c;
  --secondary-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lightpink: #ffcce0;
  --blue: #1a1aff;
  --custom: #1a1aff;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(105, 80, 60, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

